.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    flex: 0 0 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.buttonContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 20%;
}

.button {
    width: 50%;
    height: 100%;
    font-size: 96px;
    cursor: pointer;
    color: lemonchiffon;
    border: 1px dotted lemonchiffon;
    background-color: transparent;
    font-family: 'Comic Sans MS', cursive;
    transition: background-color 0.3s ease;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    .button {
        font-size: 48px; /* Adjusted font size for mobile */
    }
}

.score {
    text-align: center;
    position: absolute;
    bottom: 10vh;
    left: 1vh;
    display: flex;
    width: 15%;
    height: 5%;
    zoom: 200%;
}

.verify {
    text-align: center;
    margin-top: 20%;
    zoom: 200%;
}
